.contenedor {
  display: flex;
  flex-direction: column;
  align-items: end;
  border: 2px solid black;
  margin: auto;
  width: 500px;
  height: 500px;
}
.item1 {
  background-color: red;
  color: whitesmoke;
  width: 200px;
  height: 400px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item2 {
  background-color: blue;
  color: whitesmoke;
  width: 200px;
  height: 400px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item3 {
  background-color: green;
  color: whitesmoke;
  width: 200px;
  height: 400px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
